@model PhotoManager.IdentityServer.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h4 class="text-center">Ooops... Something went wrong. Please contact the website administrator. </h4>

<p>Request Id: @Model.RequestId</p>
