@model PhotoManager.WebApp.Models.PhotoUploadVM

<div class="row">
    <div class="col-md-12 col-xs-12">
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl>
                <dt>
                    <label asp-for="PhotoFile">File</label>
                </dt>
                <dd>
                    <input id="FileUpload_FormFile" type="file" name="PhotoFile" />
                    <span asp-validation-for="PhotoFile" class="text-danger"></span>
                </dd>
            </dl>
        </form>
        <button id="upload-img" class="btn btn-dark">Upload</button>
        <button id="hide-upload" class="btn btn-dark">Cancel</button>
    </div>
</div>
