<div class="col-12 col-md-6 col-xl-6">
    <div class="form-actions no-color">
        <p>
            <input type="text" id="searchString" placeholder="Find image" />
            <button id="search-btn" class="btn btn-default" type="submit">
                <i class="bi-search"></i>
            </button>
        </p>
    </div>
</div>